.face{
    width: 250px;
    height: 250px;
    background-color: rgb(155, 155, 18);
    border-radius: 50%;
}

.mouth{
    width: 100px;
    height: 25px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: relative;
    top: 150px;
    left:75px;
}

.leye{
    width:25px;
    height:25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left:50px;
}
.reye{
    width:25px;
    height:25px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 150px;
}