body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: black;
  color: #fff;
  overflow: hidden;
  margin: 0;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 350px;
    border-radius: 1.5rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1.5rem;
    overflow: auto;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

a{
    color: white;
    text-decoration: none;
}

.nav{
    background-color: #121212;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-options{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.25rem 0.8rem;
}

.nav-options:hover{
    opacity: 1;
}

.nav-options i{
    font-size: 1.5rem;
}

.nav-options a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.25rem 0.8rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    display: flex;
    font-size: 1.25rem;
}

.icons i{
    opacity: 0.75;
    margin: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 1rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 600;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
}